# MQTT Broker Configuration
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=msh/#

# MQTT Broker Authentication
MQTT_AUTH_USER=meshtastic
MQTT_AUTH_PASSWORD=

# Flask Web Server Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False

# Database Configuration
DATABASE_PATH=/data/meshmonitor.db

# Application Configuration
MAX_MESSAGES_DISPLAYED=1000

# Discord Webhook
DISCORD_BOT_USERNAME="Flyover MQTT"
DISCORD_WEBHOOK_URL=
